{% extends 'layout.html.twig' %}

{% block title %}{{ 'Terms of Service'|trans }}{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">Conditions Générales d'Utilisation</h1>
            <div class="cgu-content">
                <h2>1. Introduction</h2>
                <p>
                    Bienvenue sur notre site web. En accédant à ce site, vous acceptez les présentes conditions générales d'utilisation (CGU). Si vous n'acceptez pas ces CGU, veuillez ne pas utiliser ce site.
                </p>

                <h2>2. Utilisation du Site</h2>
                <p>
                    Vous vous engagez à utiliser ce site uniquement à des fins légales et conformément aux lois en vigueur. Vous acceptez de ne pas utiliser le site de manière à porter atteinte aux droits de tiers ou à restreindre ou empêcher l'utilisation et la jouissance du site par d'autres utilisateurs.
                </p>

                <h2>3. Propriété Intellectuelle</h2>
                <p>
                    Tous les contenus présents sur ce site, y compris les textes, images, vidéos, logos et autres éléments, sont protégés par les droits de propriété intellectuelle et appartiennent à leurs propriétaires respectifs. Toute reproduction ou utilisation non autorisée de ces contenus est strictement interdite.
                </p>

                <h2>4. Liens vers des Sites Tiers</h2>
                <p>
                    Notre site peut contenir des liens vers des sites web tiers. Nous n'avons aucun contrôle sur le contenu de ces sites et déclinons toute responsabilité quant à leur contenu ou leur utilisation.
                </p>

                <h2>5. Limitation de Responsabilité</h2>
                <p>
                    Nous nous efforçons de fournir des informations exactes et à jour sur ce site. Toutefois, nous ne pouvons garantir l'exactitude, la complétude ou l'actualité des informations fournies. Nous déclinons toute responsabilité pour les dommages directs ou indirects résultant de l'utilisation de ce site.
                </p>

                <h2>6. Modifications des CGU</h2>
                <p>
                    Nous nous réservons le droit de modifier ces CGU à tout moment. Les modifications prendront effet dès leur publication sur le site. Nous vous encourageons à consulter régulièrement cette page pour prendre connaissance des éventuelles modifications.
                </p>

                <h2>7. Contact</h2>
                <p>
                    Si vous avez des questions concernant ces CGU, veuillez nous contacter à l'adresse suivante : contact@pillow-interactive.fr.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
