{% extends 'layout.html.twig' %}

{% block title %}Home Pillow-Interactive{% endblock %}

{% block body %}

 <div id="parallax-container" class="parallax-container">
    <div class="parallax-content">
        <div  class="swiper-container">
            <div class="swiper-wrapper">
                {% set max_iterations = 3 %}
                {% for i in 1..max_iterations %}
                    <div class="swiper-slide">
                        <img src="{{asset('images/jeux/image1jeu' ~ i ~ '.jpg')}}" alt="Slide 1"> 
                        <div class="slide-text">
                            <h3>Titre Slide {{i}}</h3>
                            <p>Texte pour Slide {{i}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div> 
            <!-- add boutons if necessary -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>    
    </div>
</div>



{% endblock %}
