{% extends 'layout.html.twig' %}

{% block title %}{{'Privacy Policy'|trans}}{% endblock %}

{% block body %}
   <div class="container">
        <div class="relative-container">
            <div class="container">
                <div class="row">
                    <figure class="text-center">
                        <blockquote class="blockquote">
                            <h1>{{'Privacy Policy'|trans}}</h1>
                        </blockquote>
                    </figure>

                    <section>
                        <div class="row">
                            <div class="col">
                            <div class="">
                            <p>Cette politique de confidentialité a pour objectif de vous expliquer pourquoi nous
                                recueillons vos données et comment nous nous engageons à les protéger.</p>
                            <p><strong>NETHERION GAME</strong> s'engage en faveur de la protection de vos données
                             personnelles et de votre vie privée.</p>
                            <p>À ce titre, et en application du Règlement Général de Protection des Données
                             (ci-après dénommé "RGPD"), nous vous communiquons ci-après les conditions dans 
                             lesquelles vos données personnelles sont appelées à être traitées par nos soins.</p>
                            </div>
                        </div> 
                    </section>
                     <section>
                        <div class="row">
                            <div class="col">
                                <h2>Quelles données personnelles traitons-nous ?</h2>
                                <h3>Finalités :</h3>
                                <p class="bottom-p">Nous sommes susceptibles de recueillir et de conserver vos données à caractère personnel, notamment pour :</p>
                                <ul>
                                    <li>Traiter et répondre à vos messages,</li>
                                    <li>Créer et gérer l’accès à vos comptes,</li>
                                    <li>Gérer vos inscriptions à nos newsletters,</li>
                                    <li>Établir et assurer le suivi de la relation commerciale pouvant découler de vos messages,</li>
                                    <li>Rédiger un avis/commentaire publié sur le site,</li>
                                    <li>Traiter votre candidature à un emploi,</li>
                                    <li>Percevoir votre paiement,</li>
                                    <li>Assurer la comptabilité et la gestion,</li>
                                    <li>Améliorer notre suivi et service client,</li>
                                    <li>Gérer le bon fonctionnement et la personnalisation des services,</li>
                                    <li>Vous envoyer des informations commerciales et publicitaires en fonction de vos préférences,</li>
                                    <li>Détection d’attaques et recourt contentieux contre la fraude,</li>
                                    <li>Mémoriser vos choix quant à l’utilisation des cookies,</li>
                                    <li>Traiter et répondre à vos demandes d’exercice de droits,</li>
                                    <li>Pour répondre aux exigences réglementaires en vigueur ou en cours d’adoption.</li>
                                </ul>

                                <h3>Catégories des données :</h3>
                                <ul>
                                    <li>Des coordonnées (par exemple nom, prénom, numéro de téléphone, email);</li>
                                    <li>Des informations techniques et de localisation générées dans le cadre de l’utilisation de nos services.</li>
                                </ul>
                            </div>
                        </div> 
                    </section>
                     <section>
                        <div class="row">
                            <div class="col">
                                <h2>Fondement juridiques des traitements</h2>
                                <p class="bottom-p">Les traitements de données à caractère personnel mis en œuvre sont fondés :</p>
                                <ul>
                                    <li>Soit sur le consentement de la personne concernée (Article 6.1.a du RGPD) pour tous les traitements qui nécessitent le recueil préalable du consentement. Dans les formulaires en ligne, les champs obligatoires sont marqués d’un astérisque. A défaut de réponse aux questions obligatoires, nous ne serons pas en mesure de vous fournir les services demandés.</li>
                                    <li>Soit pour l’exécution d’un contrat ou l’exécution de mesures précontractuelles,</li>
                                    <li>Soit pour la poursuite d’un intérêt légitime (Article 6.1.e du RGPD).</li>
                                    <li>Soit pour le respect d’une obligation légale ou règlementaire.</li>
                                </ul>

                                <p>Vos données sont conservées pour la durée nécessaire à l’accomplissement des finalités mentionnées ci-dessus.</p>
                                <p class="bottom-p">La durée de conservation des données personnelles des Clients dépend de la finalité concernée. Dans ce cadre, les données personnelles des Clients sont conservées le temps nécessaire à l’accomplissement de leur requête. A défaut d’une quelconque réalisation, les données personnelles sont supprimées dans les délais recommandés par la Commission Nationale Informatique et Libertés (CNIL), au terme d’un délai de trois ans à compter de leur collecte, sous réserve :</p>
                                <ul>
                                    <li>des possibilités et obligations légales en matière d’archivage,</li>
                                    <li>des obligations de conservation de certaines données, à des fins probatoires, et/ou d’anonymisation de celles-ci.</li>
                                </ul>
                                <p>Les données personnelles du Client collectées et traitées, pour les besoins d’exécution des offres, sont conservées pour la durée nécessaire à la gestion de la relation contractuelle.</p>
                                <p class="bottom-p">Par dérogation, les données personnelles requises pour à l’établissement de la preuve d’un droit ou d’un contrat sont archivées conformément aux dispositions légales (5 ou 10 ans après la fin de la relation commerciale selon le cas).</p>

                                <h2>Quels sont les destinataires de vos données ?</h2>
                                <p>Vos données personnelles sont destinées à <strong>NETHERION GAME</strong>.</p>
                                <p>Nos services internes : Elles sont traitées par le personnel de nos différents services tel que le service commercial ou le service en charge de la sécurité informatique.</p>
                                <p>Des entreprises ou personnes de confiance : ils traitent vos informations pour nous aux fins énoncées ci-dessus, conformément à nos instructions telles qu’elles sont décrites dans notre Politique de confidentialité et à tous autres cas d’usage approprié en termes de confidentialité et de sécurité.</p>
                                <p>Des sous-traitants techniques : Les données personnelles vous concernant peuvent être transférées à nos sous-traitants techniques (au sens de l’article 4.8 du RGPD) de façon encadrée strictement. En cas de transfert, nous nous assurons que les sous-traitants respectent le RGPD et prennent des mesures technique et organisationnelle pour garantir la protection des données (art. 28 du RGPD).</p>

                            </div>
                        </div> 
                    </section>
                     <section>
                        <div class="row">
                            <div class="col">
                                <h2>Comment NETHERION GAME préserve la sécurité de vos données ?</h2>
                                <p class="bottom-p">Nous mettons en place toutes les mesures organisationnelles et techniques permettant d’assurer un niveau approprié de sécurité à vos données personnelles, et notamment d'éviter toute perte de confidentialité, d'intégrité ou d’accessibilité.</p>
                                <ul>
                                    <li>Nous effectuons fréquemment la sauvegarde des données,</li>
                                    <li>Met en place des mesures techniques et organisationnelles pour assurer que la conservation des données personnelles des Clients est sécurisée et ce, pendant la durée nécessaire à l’exercice des finalités poursuivies.</li>
                                </ul>

                                <h2>Quels sont vos droits sur vos données personnelles ?</h2>
                                <pclass="bottom-p">Conformément à la Réglementation Applicable, vous disposez des droits suivants :</pclass=>
                                <ul>
                                    <li><strong>Un droit de rectification</strong> : vous avez le droit d’obtenir la rectification des données inexactes vous concernant. Vous avez également le droit de compléter les données incomplètes vous concernant, en fournissant une déclaration complémentaire. En cas d’exercice de ce droit, nous nous engageons à communiquer toute rectification à l’ensemble des destinataires de vos données,</li>
                                    <li><strong>Un droit d’effacement</strong> : dans certains cas, vous avez le droit d’obtenir l’effacement de vos données. Cependant, ceci n’est pas un droit absolu et nous pouvons pour des raisons légales ou légitimes conserver ces données.</li>
                                    <li><strong>Un droit à la limitation du traitement</strong> : dans certains cas, vous avez le droit d’obtenir la limitation du traitement sur vos données,</li>
                                    <li><strong>Un droit à la portabilité des données</strong> : vous avez le droit de recevoir vos données que vous nous avez fournies, dans un format structuré, couramment utilisé et lisible par une machine, pour votre usage personnel ou pour les transmettre à un tiers de votre choix. Ce droit ne s’applique que lorsque le traitement de vos données est basé sur votre consentement, sur un contrat ou que ce traitement est effectué par des moyens automatisés,</li>
                                    <li><strong>Un droit d’opposition au traitement</strong> : vous avez le droit de vous opposer à tout moment au traitement de vos données pour les traitements basés sur notre intérêt légitime, une mission d’intérêt public et ceux à des fins de prospection commerciale. Ceci n’est pas un droit absolu et nous pouvons pour des raisons légales ou légitimes refuser votre demande d’opposition,</li>
                                    <li><strong>Le droit de retirer votre consentement à tout moment</strong> : vous pouvez retirer votre consentement au traitement de vos données lorsque le traitement est basé sur votre consentement. Le retrait du consentement ne compromet pas la licéité du traitement fondé sur le consentement effectué avant ce retrait,</li>
                                    <li><strong>Le droit de déposer une plainte auprès d’une autorité de contrôle</strong> : vous avez le droit de contacter votre autorité de protection des données pour vous plaindre de nos pratiques de protection des données personnelles.</li>
                                </ul>
                                <p>En application du RGPD, les conditions d’exercice de ces droits peuvent varier selon la base de licéité du traitement mentionné dans le premier paragraphe.</p>
                                <p class="bottom-p">Nous donnerons suite à tout exercice de droit dans les meilleurs délais et en tout état de cause dans un délai de 30 jours à compter de la réception de la demande.</p>
                                <p>Nous nous réservons le droit :</p>
                                <ul>
                                    <li>De demander une preuve de l’identité du demandeur en cas de doute raisonnable sur cette dernière et ce afin de respecter son obligation de confidentialité,</li>
                                    <li>De prolonger le délai de réponse de deux mois, informant alors le demandeur de cette prolongation et des motifs du report dans un délai d'un mois à compter de la réception de la demande,</li>
                                    <li>De refuser de répondre à un exercice de droit si celui-ci était considéré comme abusif (au vu de leur nombre, de leur caractère répétitif ou systématique).</li>
                                </ul>

                                <h3>Qui contacter pour toutes les demandes liées au RGPD ?</h3>
                                <p class="bottom-p">Pour exercer vos droits, vous pouvez nous contacter :</p>

                                <p><strong>NETHERION GAME</strong></p>
                                <p class="bottom-p">SAS au capital de 1000 euros.<br>
                                Immatriculée au Registre du commerce et des sociétés de MELUN sous le numéro SIRET 79503390100047<br>
                                Adresse : 61 rue Victor Hugo 77250 Morêt-Loing-et-Orvanne<br>
                                Téléphone : 06 51 98 86 13<br>
                                Directeur de la publication : Julien Grima</p>

                                <p class="bottom-p">Si, en dépit de nos efforts et de nos engagements, vous estimiez que vos droits concernant vos données personnelles n’étaient pas respectés, vous pouvez adresser une réclamation auprès de la Commission Nationale Informatique et Libertés :<br>
                                CNIL 3 Place de Fontenoy TSA 80715 75334 Paris Cedex 07</p>

                                <h3>Réserve de modification de la Politique de protection des données</h3>
                                <p>La présente Politique de protection des données personnelles peut être amenée à évoluer. Elles ont été élaborées à partir d'un modèle libre qui peut être téléchargé sur le site <a href="https://donnees.net" target="_blank">https://donnees.net</a>. Comme nous développons constamment nos services, nous nous réservons le droit de modifier cette Politique de confidentialité, conformément aux dispositions légales en vigueur. Toute modification est publiée sur ce document en temps opportun. Nous vous conseillons de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications ou mises à jour apportées à notre politique de confidentialité.</p>
                            </div>
                        </div> 
                    </section>
                     <section>
                        <div class="row">
                            <div class="col">
                                <h2>Politique de Cookies</h2>
                                <h3>Qu'est-ce qu'un "cookie" ?</h3>
                                <p>Les cookies sont de petits fichiers texte qu'un site web enregistre sur votre ordinateur ou votre appareil mobile lorsque vous visitez le site.</p>
                                <p class="bottom-p">Ils facilitent votre expérience en ligne en sauvegardant les informations de navigation. Grâce aux cookies, les sites peuvent vous garder connecté, se souvenir de vos préférences de site et vous proposer un contenu personnalisé. Les cookies peuvent également être utilisés pour établir des statistiques sur l'expérience de navigation et pour montrer des publicités ciblées.</p>
                                <p>En général, les cookies peuvent être classés par :</p>

                                <h4>Domaine :</h4>
                                <ul class="bottom-p">
                                    <li>Les cookies de première partie sont émis par un site web qu'un utilisateur consulte directement.</li>
                                    <li>Les cookies tiers ne sont pas créés par le site web consulté, mais par un tiers comme Google Analytics, DoubleClick, Facebook, Twitter, LinkedIn, Youtube, Vimeo, etc.</li>
                                </ul>

                                <h4>Objectif :</h4>
                                <ul class="bottom-p">
                                    <li>Les cookies strictement nécessaires sont requis pour que le site web fonctionne correctement.</li>
                                    <li>Les cookies de préférences permettent à un site web de se souvenir des choix que vous avez faits dans le passé.</li>
                                    <li>Les cookies de statistiques aident le propriétaire du site web à collecter des données statistiques et à comprendre comment les visiteurs interagissent avec le site web.</li>
                                    <li>Les cookies marketing suivent l'activité en ligne de l'utilisateur pour aider les annonceurs à diffuser des publicités plus pertinentes.</li>
                                </ul>
                                <h4>Durée :</h4>
                                <ul class="bottom-p">
                                    <li>Les cookies de session qui sont effacés lorsque l'utilisateur ferme le navigateur.</li>
                                    <li>Les cookies persistants qui restent sur le dispositif de l'utilisateur pendant une certaine période de temps.</li>
                                </ul>
                                <h3>Quels sont les cookies et traceurs que nous utilisons ?</h3>
                                <h4 class="bottom-p">Strictly Necessary cookies</h4>
                                <table class="table table-dark bottom-p">
                                    <thead>
                                        <tr>
                                            <th>Cookie key</th>
                                            <th>Domain</th>
                                            <th>Path</th>
                                            <th>Cookie type</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>PHPSESSID</td>
                                            <td>First-party</td>
                                            <td>Session</td>
                                            <td>Cookie generated by applications based on the PHP language. This is a general purpose identifier used to maintain user session variables. It is normally a random generated number, how it is used can be specific to the site, but a good example is maintaining a logged-in status for a user between pages.</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h4 class="bottom-p">Performance cookies</h4>
                                <table class="table table-dark bottom-p">
                                    <thead>
                                        <tr>
                                            <th>Cookie key</th>
                                            <th>Domain</th>
                                            <th>Path</th>
                                            <th>Cookie type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>_gid</td>
                                            <td>First-party</td>
                                            <td>1 day</td>
                                            <td>This cookie is set by Google Analytics. It stores and update a unique value for each page visited and is used to count and track pageviews.</td>
                                        </tr>
                                        <tr>
                                            <td>_gat</td>
                                            <td>First-party</td>
                                            <td>1 minute</td>
                                            <td>This cookie name is associated with Google Universal Analytics, according to documentation it is used to throttle the request rate – limiting the collection of data on high traffic sites.</td>
                                        </tr>
                                        <tr>
                                            <td>_ga</td>
                                            <td>First-party</td>
                                            <td>2 years</td>
                                            <td>This cookie name is associated with Google Universal Analytics – which is a significant update to Google's more commonly used analytics service. This cookie is used to distinguish unique users by assigning a randomly generated number as a client identifier. It is included in each page request in a site and used to calculate visitor, session and campaign data for the site's analytics reports.</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h4 class="bottom-p">Targeting cookies</h4>
                                <table class="table table-dark bottom-p">
                                    <thead>
                                        <tr>
                                            <th>Cookie key</th>
                                            <th>Domain</th>
                                            <th>Path</th>
                                            <th>Cookie type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>YSC</td>
                                            <td><a href=".youtube.com" target="_blank">.youtube.com</a></td>
                                            <td>Session</td>
                                            <td>This cookie is set by YouTube to track views of embedded videos.</td>
                                        </tr>
                                        <tr>
                                            <td>VISITOR_INFO1_LIVE</td>
                                            <td><a href=".youtube.com" target="_blank">.youtube.com</a></td>
                                            <td>6 months</td>
                                            <td>This cookie is set by YouTube to keep track of user preferences for YouTube videos embedded in sites; it can also determine whether the website visitor is using the new or old version of the YouTube interface.</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h3>Vos préférences concernant les cookies</h3>
                                <p class="bottom-p">Quand vous arrivez pour la première fois sur le site, un bandeau cookie vous propose d’accepter ou de refuser les Cookies qui ne sont pas essentiels au fonctionnement du site. Vous pouvez refuser/désactiver les Cookies à tout moment, à l’exception des Cookies nécessaires au fonctionnement stable du site. Vous avez la possibilité de modifier à tout moment vos préférences relatives à la gestion des cookies.</p>

                            </div>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
    </div>

            

 
    

   
   
    

   

    
   

{% endblock %}
