html, body {
    height: 100%;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: aliceblue;
    font-size: 1.2rem;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }

/**************** GENERAL ***************/
ul {
    list-style-type: none !important;
}

a {
    color: aliceblue;
}
a:hover {
    color: darkgray;
}

.footer-top {
    margin-top: 2%;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #BEBDBD !important;
}

.title {
    left: 50%;
    padding: 2%;
    
}

.action-buttons {
    display: flex;
    gap: 5px; /* Adjust the gap between buttons as needed */
}

.action-buttons form {
    display: inline;
}

.action-buttons .btn {
    margin: 0;
}
/**************** NAVBAR ***************/
.navbar-brand img{
    width: 15%;  
    height: auto; 
    margin-right: 2%; 
    margin-left: 3%;
}

.input-width {
    width: 100%;
    margin : auto;
}

.margin-form {
    margin-bottom: 3%;
}

.margin-footer-col {
    margin-left: 10%;
}

.button-top {
    margin-top: 2%;
}
/**************** PARALLAX ***************/
.block-div {
    height:500px;
    background-color: #121212;
}

.parallax-container {
    height: 100vh; /* Utiliser la hauteur de la fenêtre */
    overflow: hidden; /* Pour cacher les débordements */
    position: relative;
}

.parallax-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform; /* Optimisation des performances */
}

.parallax-mouse-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Place le parallax mouse au-dessus de l'image */
    overflow: hidden;
}

.parallax-mouse-content {
    position: relative;
    z-index: 1; /* Assure que le contenu est visible au-dessus du parallax mouse */
    text-align: center;
    padding: 20% 10%; /* Ajustez le padding selon vos besoins */
    color: #fff; /* Couleur du texte */
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour mettre en avant le form-container */
}

.img-parallax {
    display: block;
    width: 100%;
    height: auto; /* Assurez-vous que l'image est responsive */
}

.parallax-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.parallax-section h2, .parallax-section p {
    margin-bottom: 2%;
}

/**************** SLIDER ***************/

.swiper-container {
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.swiper-slide img {
    max-width: 100%;
    height: auto;
    display: block;
}

.slide-text {
    position: absolute;
    bottom: 10px; /* Adjust this value to control the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    color: white; /* Choose a color that contrasts with your images */
    background-color: rgba(0, 0, 0, 0.5); /* Add background color for better readability */
    padding: 10px;
    border-radius: 5px;
    font-size: 16px; /* Adjust font size as needed */
    text-align: center;
}

.slide-text-no-image {
    position: relative;
    bottom: 50px; /* Adjust this value to control the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    color: white; /* Choose a color that contrasts with your images */
    background-color: rgba(0, 0, 0, 1); /* Add background color for better readability */
    padding: 10px;
    border-radius: 20px;
    font-size: 16px; /* Adjust font size as needed */
    text-align: center;
}

/**************** CONTAINER ***************/

/* CSS pour le contenu du formulaire */
.form-container {
    margin-top: 0%;
    margin-left: 30%;
    width: 100%; /* Ou une largeur spécifique comme 50% */
    max-width: 600px; /* Largeur maximale */
    background: #6E6E6E; /* Arrière-plan du formulaire */
    padding: 20px; /* Espace interne */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour l'effet visuel */
    border-radius: 10px; /* Arrondir les bords */
}

/* Optionnel : ajuster les styles du formulaire */
form {
    display: block;
    flex-direction: column; /* Colonne pour les enfants */
    gap: 15px; /* Espacement entre les éléments */
}

.relative-container {
    position: relative;
    margin-top: 10%;
    background-color: #6E6E6E;
}

/**************** ADMINITRATION PAGES ***************/

.admin-container {
    position: relative;
    padding-top: 12%;
    background-color: #6E6E6E;
}

/**************** GAME PAGE ***************/

.page-container {
    background-color: #6E6E6E;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    align-items: center;
    
}

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.5s ease-out;
}

.section.sticky {
    position: -webkit-sticky; /* Pour compatibilité avec Safari */
    position: sticky;
    top: 0;
}


.box-container {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    font-size: 1.2em; /* Ajustez la taille de la police selon vos besoins */
    color: white;
    transform: scale(1);
    transition: transform 0.5s ease-out;
}

.text-container.zoom {
    transform: scale(1.5);
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.title-section {
    height: calc(100vh - 60px); /* Adjust the 60px based on your navbar height */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-section h2 {
    margin-bottom: 2%;
}

