<form method="post" action="{{ path('app_zones_text_delete', {'id': zones_text.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ zones_text.id) }}">
    <button class="btn">Delete</button>
</form>
